html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
html, body{ height:100%; background:#82CAE2; -webkit-font-smoothing: antialiased;}
html {
	background: url('Images/bg_main.jpg') repeat;
}
body {
	background: url('Images/bg_main.jpg') repeat;
	width: 100%;
	margin: 0;
}

header {
  height: 20px;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  background: #221E1D;
  margin: 0px auto;
  text-align: center;
  border-bottom: 2px solid #A9A9A9;
}

#wood, #iron, #wheat, #workers {
  display: inline;
  min-width: 100px;
  margin: 10px;
  padding: 10px;
}

#woodValue, #ironValue, #wheatValue, #workersValue {
  display:inline;
  color: #ECEAE0;
  font-size: 12px;
}

nav {
  height: 18px;
  position: fixed;
  width: 100%;
  top: 20px;
  left: 0;
  margin: 0px auto;
  text-align: center;
  background-color: #D3D3D3;
  border-bottom: 2px solid #A9A9A9;
}
nav a {
  margin-left: 10px;
  margin-right: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #696969;
  font-style: normal;
  text-decoration: none;
  font-size: 12px;
}

nav a:hover {
  color: #221E1D;
}
hr {
  border: 0;
  height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
section#Production {
  margin: 0px auto;
	padding: 0;
  margin-top: 32px;
	float: left;

	text-shadow: 3px 1px 4px rgba(150, 150, 150, 1);
  color: #696969;
  font-style: normal;
  text-decoration: none;
	text-align: center;
  font-size: 12px;
	width: 150px;
}

.building {
	padding: 10px;
	margin: 10px;
	margin-top: 0;
	width: 100%;
	height: 150px;
  background-color: #D3D3D3;
	border: 1px solid #A9A9A9;
	-webkit-box-shadow: -1px -1px 23px 2px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: -1px -1px 23px 2px rgba(50, 50, 50, 0.5);
	box-shadow:  -1px -1px 23px 2px rgba(50, 50, 50, 0.5);
}

section#Map {
	width: 100%; height: 100vh;
	background-color: #D3D3D3;
	position: fixed;
	top: 21px; left: 192px;
  margin: 0px auto;
	border-left: 1px solid #A9A9A9;
}
